# Copyright (c) 2026 Mitsubishi Electric Research Laboratories (MERL)
# SPDX-License-Identifier: AGPL-3.0-or-later

checkpoints/SIPS.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/Conv-TasNet.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/flexio_avg.ckpt filter=lfs diff=lfs merge=lfs -text
